---
import { SOCIAL_LINKS } from "@/lib/constants";
import LinkedinIcon from "@/components/ui/icons/linkedin.astro";
import XIcon from "@/components/ui/icons/x.astro";
---

<footer class="w-full border-t border-dashed md:border-b">
  <div
    class="mx-auto flex max-w-3xl flex-col-reverse items-center justify-between gap-4 border-dashed px-4 py-3 md:border-x lg:flex-row"
  >
    <p class="text-sm text-foreground/70">
      © 2025 Rauf • <a
        href="https://github.com/raufzer/raufzer.github.io"
        class="font-medium text-primary underline underline-offset-4">Source Code</a
      >
    </p>

    <div class="flex items-center justify-center gap-4">
      {
        SOCIAL_LINKS.map(link => (
          <a href={link.url} aria-label={link.name}>
            {link.name === "GitHub" && (
              <div 
                class="size-4 flex items-center justify-center duration-150 hover:text-primary"
                set:html={link.icon}
              />
            )}
            {link.name === "LinkedIn" && (
              <LinkedinIcon className="size-4 duration-150 hover:text-primary" />
            )}
            {link.name === "X" && (
              <XIcon className="size-4 duration-150 hover:text-primary" />
            )}
          </a>
        ))
      }
    </div>
  </div>
</footer>

<style>
  :global(.size-4 svg) {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
</style>
