---
import LetterGlitch from "../React/LetterGlitch.tsx";
import LogoWall from "../components/logoWall.astro";
import SkillsList from "../React/SkillsList.tsx";
---

<section class="text-[var(--white)] mt-12 md:mt-0" id="home">
  <div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
    <div class="text-left space-y-4">
      <p class="text-md md:text-lg text-[var(--white-icon)] shiny-white">
        Hi, I'm Abd Raouf Zerkhef
      </p>
      <div
        class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4"
      >
        <h1
          class="text-[var(--white)] text-5xl md:text-6xl font-medium text-pretty leading-none"
        >
          Software & AI <br /> Developer
        </h1>
        <p class="text-md md:text-2xl text-[var(--white-icon)]">
          I'm a software developer specialized in <span
            class="text-[var(--sec)] shiny-sec">AI & Data Science</span
          >. I build robust applications with <span
            class="text-[var(--sec)] shiny-sec">Golang</span
          > and <span class="text-[var(--sec)] shiny-sec">Flutter</span> and am passionate
          about exploring the future of intelligent systems.
        </p>
      </div>

      <div
        class="flex flex-col md:flex-row md:items-center md:justify-between pt-3 md:pt-6 gap-4"
      >
        <div class="flex justify-start gap-2">
          <a
            target="_blank"
            href="https://github.com/raufzer"
            aria-label="GitHub"
            class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-8"
            >
              <path
                d="M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z"
              ></path>
            </svg>
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/raufzer/"
            aria-label="LinkedIn"
            class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-8"
            >
              <path
                d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z"
              ></path>
            </svg>
          </a>
          <a
            target="_blank"
            href="https://wa.link/e88c1u"
            aria-label="WhatsApp"
            class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-8"
            >
              <path
                d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893A11.821 11.821 0 0020.465 3.488"
              ></path>
            </svg>
          </a>
          <a
            target="_blank"
            href="https://mail.google.com/mail/?view=cm&fs=1&to=zerkhefabdraouf@gmail.com&su=Hey%20Raouf!"
            aria-label="Email"
            class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="2.1em"
              height="2.1em"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="m18.73 5.41l-1.28 1L12 10.46L6.55 6.37l-1.28-1A2 2 0 0 0 2 7.05v11.59A1.36 1.36 0 0 0 3.36 20h3.19v-7.72L12 16.37l5.45-4.09V20h3.19A1.36 1.36 0 0 0 22 18.64V7.05a2 2 0 0 0-3.27-1.64"
              ></path>
            </svg>
          </a>
        </div>

        <div class="flex justify-start md:justify-end">
          <a
            href="/resume/Abd_Raouf_Zerkhef_Resume.pdf"
            download="Abd_Raouf_Zerkhef_Resume.pdf"
            class="inline-flex items-center gap-3 px-8 py-4 bg-transparent text-white rounded-xl hover:bg-[var(--white-icon-tr)] transition-all duration-300 font-medium text-lg border border-[var(--white-icon-tr)] group"
          >
            <span class="shiny-sec">Download Resume</span>
          </a>
        </div>
      </div>

      <LogoWall />

      <div class="flex flex-col lg:flex-row items-center gap-8">
        <SkillsList client:load />
        <div
          class="flex justify-center md:w-full md:h-[292px] size-[290px] pt-3 md:pt-9 md:ml-16"
        >
          <LetterGlitch
            client:load
            glitchColors={["#5e4491", "#A476FF", "#241a38"]}
            glitchSpeed={33}
            centerVignette={false}
            outerVignette={true}
            smooth={true}
          />
        </div>
      </div>
    </div>
  </div>

  <style is:global>
    .shiny-sec {
      background: linear-gradient(
        135deg,
        #a476ff 25%,
        #eee5ff 50%,
        #a476ff 75%
      );
      background-size: 400% 100%;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: shine 3s linear infinite;
    }

    @keyframes shine {
      0% {
        background-position: 100% 50%;
      }
      30%,
      70% {
        background-position: 0% 50%;
      }
    }
  </style>
</section>
